<table class="table table-stripped table-dark">
    <thead>
        <tr>
            @for (header of ordersTableHeaders; track $index) {
                <th scope="col">{{header}}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (order of orders; track $index) {
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.product}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.price}}</td>
                <td>{{order.status}}</td>
            </tr>
        }
    </tbody>
</table>
